body {
    background-color:#383736;
    text-align: center;
    color:#33cc33;
    font-family: Helvetica;
    font-size: 25px;


}


h1 {
    height: auto;
    text-align: center;
}



#brushIcon {
  margin-left: 100px;
}

button {
    text-align: center;
    border: 3px;
    border-radius: 8px;
    height: 40px;
    width: 90px;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 14px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    color: #383736;
    display: inline-block;
    background-color: #33cc33;
}
